aiohttp
aria2p
async_generator
beautifulsoup4>=4.8.1
bs4
cairosvg
chromedriver-autoinstaller
coffeehouse
cowpy
cryptg
dnspython
eksipy
emoji
emoji-country-flag
git+https://github.com/bisoncorps/search-engine-parser
git+https://github.com/Joeclinton1/google-images-download.git
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
google-api-python-client
google-auth-oauthlib
googletrans==4.0.0rc1
google_images_download>=2.7.1
gTTS-token>=1.1.3
gTTS>=2.1.1
hachoir
heroku3
httplib2
humanize
imagedown
lottie
lxml==4.9.1
lyricsgenius
numpy
oauth2client
Pillow
psycopg2
pybase64>=0.4.0
pydub
pylast==4.1.0
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests>=2.18.4
selenium>=3.141.0
speedtest
spotdl
spotify_token
sqlalchemy>=1.2
telegraph
telethon-session-sqlalchemy>=0.2.6
telethon>=1.24.0
twitter_scraper
urbandict>=0.5
wikipedia>=1.4.0
youtube-dl